<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.mapper.PigTypeMapper">
  <resultMap id="BaseResultMap" type="com.zhu.pojo.PigType">
    <!--@mbg.generated-->
    <!--@Table tb_pigtype-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pig_type" jdbcType="VARCHAR" property="pigType" />
    <result column="pig_type_sum" jdbcType="INTEGER" property="pigTypeSum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pig_type, pig_type_sum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_pigtype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_pigtype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhu.pojo.PigType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_pigtype (pig_type, pig_type_sum)
    values (#{pigType,jdbcType=VARCHAR}, #{pigTypeSum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhu.pojo.PigType" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_pigtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pigType != null">
        pig_type,
      </if>
      <if test="pigTypeSum != null">
        pig_type_sum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pigType != null">
        #{pigType,jdbcType=VARCHAR},
      </if>
      <if test="pigTypeSum != null">
        #{pigTypeSum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.pojo.PigType">
    <!--@mbg.generated-->
    update tb_pigtype
    <set>
      <if test="pigType != null">
        pig_type = #{pigType,jdbcType=VARCHAR},
      </if>
      <if test="pigTypeSum != null">
        pig_type_sum = #{pigTypeSum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.pojo.PigType">
    <!--@mbg.generated-->
    update tb_pigtype
    set pig_type = #{pigType,jdbcType=VARCHAR},
      pig_type_sum = #{pigTypeSum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryTypeSum" resultMap="BaseResultMap">
    select * from tb_pigtype;
  </select>
</mapper>